.about-us {
  padding-top: 40px;
  padding-bottom: 160px;
}

@media  screen and (max-width: 768px) {
  .about-us {
    padding-top: 70px;
  }
}

@media  screen and (max-width: 540px) {
  .about-us {
    padding-top: 30px;
  }
}


.about-us h1 {
  margin: 0;

  font-weight: 400;
  font-size: 100px;
  line-height: 105px;
}

@media  screen and (max-width: 540px) {
  .about-us h1 {
    font-size: 59px;
    line-height: 62px;

  }
}
