
.blog-page {
  padding-top: 88px;
  padding-bottom: 200px;
}

@media  screen and (max-width: 768px) {
  .blog-page {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

.blog-page__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 132px;
}

@media  screen and (max-width: 768px) {
  .blog-page__text {
    min-height: 78px;
  }
}

@media  screen and (max-width: 600px) {
  .blog-page__text {
    flex-direction: column;
    align-items: flex-start;
    min-height: auto;
  }
}


.blog-page__text h1 {
  margin: 0;
  padding-bottom: 5px;

  font-weight: 400;
  font-size: 160px;
  line-height: 128px;

  color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .blog-page__text h1 {
    padding-bottom: 7px;
    font-size: 89px;
    line-height: 71px;
  }
}

.blog-page__text p {
  max-width: 300px;
  margin: 0;
  padding-right: 6px;

  font-size: 28px;
  line-height: 36px;
  color: $color-default-white;
  text-align: right;
}

@media  screen and (max-width: 768px) {
  .blog-page__text p {
    max-width: 240px;
    padding-right: 0;

    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 600px) {
  .blog-page__text p {
    padding-top: 14px;

    text-align: left;
  }
}


// Фильтр

.blog-page__filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 61px;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .blog-page__filter  {
    padding-top: 40px;
    padding-bottom: 31px;
  }
}

.blog-page__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
  margin-bottom: 19px;

  border-radius: 20px;
}

@media  screen and (max-width: 768px) {
  .blog-page__item  {
    margin-right: 9px;
    margin-bottom: 9px;
  }
}


.blog-page__link {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;


  font-size: 28px;
  line-height: 34px;
  color: $color-default-white;

  text-transform: uppercase;
  background-color: $color-background;
  border: 1px solid $color-default-white;
  border-radius: 20px;
}

@media  screen and (max-width: 768px) {
  .blog-page__link  {
    font-size: 12px;
    line-height: 15px;
  }
}

.blog-page__link--active {
  color: $color-text-primary;
  background-color: $color-default-white;
}




// Карточки

@media  screen and (max-width: 768px) {
  .blog-page__articles-container {
    width: 100%;

  }
}

.blog-page__articles-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-right: -0.8%;
}

@media  screen and (max-width: 768px) {
  .blog-page__articles-wrapper {
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    margin-right: -1.4%;
  }
}

@media  screen and (max-width: 500px) {
  .blog-page__articles-wrapper {
    margin-right: 0;
  }
}

.blog-page__article-card {
  margin-right: 0.8%;
  width: 49.2%;
  margin-bottom: 30px;
}

@media  screen and (max-width: 768px) {
  .blog-page__article-card:nth-child(8n),
  .blog-page__article-card:nth-child(8n-1),
  .blog-page__article-card:nth-child(8n-2),
  .blog-page__article-card:nth-child(8n-3) {
    display: none;
  }
}

@media  screen and (max-width: 768px) {
  .blog-page__article-card {
    margin-right: 1.4%;
    width: 48.6%;
    margin-bottom: 13px;
  }
}

@media  screen and (max-width: 500px) {
  .blog-page__article-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.blog-page__img picture {
  line-height: 0;
}

.blog-page__img img {
  line-height: 0;
  width: 100%;

}

.blog-page__description {
  padding-bottom: 7.4%;

  background-color: $color-background;
}

@media  screen and (max-width: 500px) {
  .blog-page__description {
    padding-bottom: 18px;
  }
}

.blog-page__text-wrap {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  padding-top: 20px;
}

@media  screen and (max-width: 768px) {
  .blog-page__text-wrap {
    padding-top: 19px;
  }
}

.blog-page__tag {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}

@media  screen and (max-width: 768px) {
  .blog-page__tag {
    border: none;
  }
}

.blog-page__tag span {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;

  color: $color-text-primary;
  background-color: $color-default-white;
  border-radius: 20px;
}

@media  screen and (max-width: 768px) {
  .blog-page__tag span {
    font-size: 12px;
    line-height: 15px;

    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.blog-page__date {

  font-size: 18px;
  line-height: 23px;

  color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .blog-page__date {

    font-size: 14px;
    line-height: 18px;
  }
}

.blog-page__card-heading {
  max-width: 65%;
  padding-top: 3%;
}

@media  screen and (max-width: 768px) {
  .blog-page__card-heading {
    max-width: 100%;

    padding-top: 22px;
  }
}

.blog-page__card-heading h3 {
  margin: 0;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  text-transform: uppercase;

  color: $color-default-white;
}

@media  screen and (max-width: 1200px) {
  .blog-page__card-heading h3 {
    font-size: 26px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 955px) {
  .blog-page__card-heading h3 {

    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 768px) {
  .blog-page__card-heading h3 {
    line-height: 27px;
  }
}




// Кнопки

.blog-page__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

@media  screen and (max-width: 768px) {
  .blog-page__buttons {
    padding-top: 0;
  }
}

@media  screen and (max-width: 600px) {
  .blog-page__buttons {
    flex-direction: column;
    padding-top: 32px;
  }
}



.blog-page__btn {
  border-radius: 40px;
}

@media  screen and (max-width: 600px) {
  .blog-page__btn {
    padding-top: 30px;
    order: 2;
  }
}


.blog-page__btn .btn {
  border: 1px solid $color-default-white;
}

@media  screen and (max-width: 768px) {
  .blog-page__btn .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 28px;
    padding-right: 28px;

    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 600px) {
  .blog-page__btn .btn {
    display: flex;
    justify-content: center;
  }
}



.blog-page__buttons-wrap {
  display: flex;
  align-items:flex-start;
  padding-top: 12px;
}

@media  screen and (max-width: 768px) {
  .blog-page__buttons-wrap {
    padding-top: 9px;
  }
}

@media  screen and (max-width: 600px) {
  .blog-page__buttons-wrap {
    justify-content: space-between;
    order: 1;
  }
}


.blog-page__button-prev,
.blog-page__button-next {
  padding: 0;

  background-color: $color-background;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.blog-page__button-prev span,
.blog-page__button-next span {
  font-size: 18px;
  line-height: 22px;
  color: $color-default-white;

  text-transform: uppercase;
}

@media  screen and (max-width: 768px) {
  .blog-page__button-prev span,
  .blog-page__button-next span {
    font-size: 14px;
    line-height: 17px;

    border-bottom: 1px solid $color-default-white;
  }
}






.blog-page__pagination-bullets {
  margin-right: -10px;

  display: flex;
  padding-left: 40px;
  padding-right: 40px;

}

@media  screen and (max-width: 768px) {
  .blog-page__pagination-bullets {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.blog-page__pagination-bullet {
  margin-right: 10px;

  font-size: 18px;
  line-height: 22px;
  color: $color-default-white;

  text-transform: uppercase;
  opacity: 0.45;
  cursor: pointer;
}

@media  screen and (max-width: 768px) {
  .blog-page__pagination-bullet {
    font-size: 14px;
    line-height: 17px;
  }
}


.blog-page__pagination-bullet:nth-child(4n) {
  position: relative;
  padding-right: 50px;
}

.blog-page__pagination-bullet:nth-child(4n)::before {
  content: "";
  position: absolute;

  right: 0;
  bottom: 11px;

  height: 2px;
  width: 40px;

  background-color: $color-default-white;
  opacity: 0.45;
}

@media  screen and (max-width: 768px) {
  .blog-page__pagination-bullet:nth-child(4n)::before {
    height: 1px;

    bottom: 8px;

    opacity: 0.9;
  }
}

.blog-page__pagination-bullet--active {
  opacity: 1;
}
