.card {

  position: relative;

  height: 460px;
  min-height: 460px;

  perspective: 1000px;
  //cursor: pointer;
}

@media  screen and (max-width: 1200px) {
  .card {
    height: 380px;
    min-height: 380px;
  }
}

@media  screen and (max-width: 955px) {
  .card {
    height: 290px;
    min-height: 290px;
  }
}

@media  screen and (max-width: 768px) {
  .card {
    height: 173px;
    min-height: 173px;
    //width: 173px;
    //min-width: 173px;
  }
}

@media  screen and (max-width: 768px) {
  .card--span-col-2 {
    grid-column: span 2 / auto;
  }
}

@media  screen and (max-width: 700px) {
  .card--span-col-2 {
    grid-column: span 1 / auto;
  }
}

.card__front,
.card__back {

  position: absolute;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  // overflow: hidden;
}

.card__front {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .card:hover & {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }
}


@media  screen and (max-width: 768px) {
  .card__front::before {
    content: "";
    position: absolute;

    bottom: 10px;
    right: 10px;

    width: 16px;
    height: 16px;

    z-index: 100;

    background-image: url(../img/sprite/icon-arrow-corner.svg);
  }
}

@media  screen and (max-width: 768px) {
  .card__front--light-text::before {
    content: "";
    position: absolute;

    bottom: 10px;
    right: 10px;

    width: 18px;
    height: 18px;

    z-index: 100;

    background-image: url(../img/sprite/icon-arrow-corner-light.svg);
  }
}



.card__img {
  position: absolute;

  width: 100%;
  height: 100%;
}

.card__img img {

  position: absolute;
  width: 100%;
  height: 100%;


  object-fit: cover;
  //object-fit: contain;
  //object-position: bottom;
  object-position: center center;
  z-index: 1;

}

.card__front span {
  display: block;
  position: relative;


  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;


  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $color-text-additional;

  z-index: 100;
}

@media  screen and (max-width: 955px) {
  .card__front span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .card__front span {
    display: none;
  }
}

.card__front h3 {
  position: relative;
  align-self: flex-end;
  margin: 0;
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;


  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: $color-text-additional;

  z-index: 100;

}

@media  screen and (max-width: 955px) {
  .card__front h3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .card__front h3 {
    //align-self: flex-start;
    margin-top: 0;
    margin-right: auto;

    font-size: 14px;
    line-height: 15px;
  }
}


.card__front--light-text span,
.card__front--light-text h3 {
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 28px;
  color: $color-default-white;
}

@media  screen and (max-width: 955px) {
  .card__front--light-text span,
  .card__front--light-text h3 {
    font-size: 20px;
    line-height: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .card__front--light-text span,
  .card__front--light-text h3 {
    font-size: 14px;
    line-height: 15px;
  }
}

.card__back {
  background: #fff;
  transform: rotateY(-180deg);

  .card:hover & {
    transform: rotateY(0deg);
  }

  .card:nth-child(even) & {
    transform: rotateY(180deg);
  }

  .card:nth-child(even):hover & {
    transform: rotateY(0deg);
  }
}

.card__back {
  position: relative;

  border: 1px solid $color-text-complementary;
}

.card__back::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
  z-index: 100;

  background-image: url(../img/sprite/icon-arrow-corner.svg);
}

@media  screen and (max-width: 955px) {
  .card__back::before {
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .card__back::before {
    bottom: 10px;
    right: 10px;

    width: 16px;
    height: 16px;
  }
}

.card__back span {
  display: block;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 28px;
  line-height: 28px;

  color: $color-text-complementary;
}

@media  screen and (max-width: 955px) {
  .card__back span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media  screen and (max-width: 768px) {
  .card__back span {
    padding-bottom: 5px;

    font-size: 14px;
    line-height: 15px;
  }
}

.card__back p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  font-size: 18px;
  line-height: 23px;
  color: $color-text-complementary;

  opacity: 0.6;
}

@media  screen and (max-width: 955px) {
  .card__back p {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    font-size: 16px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 768px) {
  .card__back p {

    margin-bottom: 5px;
    padding-top: 0;
    font-size: 13px;
    line-height: 13px;
  }
}
