
.case__link a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.case__heading h1 {
  margin: 0;

  font-weight: 400;
  font-size: 100px;
  line-height: 105px;
}

@media  screen and (max-width: 768px) {
  .case__heading h1 {
    font-size: 56px;
    line-height: 59px;
  }
}

.case__description p {
  margin: 0;

  font-size: 28px;
  line-height: 36px;
}

@media  screen and (max-width: 768px) {
  .case__description p {
    font-size: 22px;
    line-height: 29px;
  }
}

.case__wrap h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  opacity: 0.4;
}

@media  screen and (max-width: 768px) {
  .case__list-wrap h2 {
    font-size: 12px;
    line-height: 15px;
  }
}

.case__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.case__list li {
  background-color: $color-background;
}

.case__list a {
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;

  text-transform: uppercase;
}

@media  screen and (max-width: 768px) {
  .case__list a {
    font-size: 12px;
    line-height: 15px;
  }
}

.case__info span {
  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 768px) {
  .case__info span {
    font-size: 14px;
    line-height: 18px;
  }
}

.case__info a {
  font-size: 14px;
  line-height: 17px;
  color: $color-text-primary;

  text-transform: uppercase;
  border-bottom: 1px solid $color-background;
}

@media  screen and (max-width: 768px) {
  .case__info a {
    font-size: 12px;
    line-height: 15px;
  }
}


.case__paragraph p {
  margin: 0;

  font-size: 44px;
  line-height: 44px;
}


@media  screen and (max-width: 768px) {
  .case__paragraph p {
    font-size: 35px;
    line-height: 35px;
  }
}

@media  screen and (max-width: 540px) {
  .case__paragraph p {
    font-size: 22px;
    line-height: 29px;
  }
}
