.cases {
  padding-top: 100px;
  padding-bottom: 100px;

  //background-color: green;
}

@media  screen and (max-width: 955px) {
  .cases {
    padding-top: 64px;
    padding-bottom: 75px;
  }
}

@media  screen and (max-width: 580px) {
  .cases {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.cases__wrapper {
  display: flex;
  flex-direction: column;
}

@media  screen and (max-width: 768px) {
  .cases__wrapper {


    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}


@media  screen and (max-width: 768px) {
  .cases__text {
    width: 50%;

    order: 1
  }
}



.cases h2 {
  margin: 0;

  font-weight: 400;
  font-size: 78px;
  line-height: 82px;
  text-align: right;
}

@media  screen and (max-width: 955px) {
  .cases h2 {
    font-size: 58px;
    line-height: 62px;
  }
}

.cases p {
  max-width: 815px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 62px;
  margin-left: auto;
  padding-left: 20px;

  font-size: 44px;
  line-height: 53px;
  text-align: right;
  color: $color-text-alternate;
}

@media  screen and (max-width: 1200px) {
  .cases p {
    font-size: 31px;
    line-height: 31px;
  }
}

@media  screen and (max-width: 955px) {
  .cases p {
    max-width: 400px;
    padding-top: 40px;
    padding-bottom: 55px;

    font-size: 21px;
    line-height: 21px;
  }
}

@media  screen and (max-width: 768px) {
  .cases p {
    padding-bottom: 63px;
  }
}

@media  screen and (max-width: 580px) {
  .cases {

    padding-top: 20px;
    padding-bottom: 38px;

    line-height: 25px;
  }
}


.cases__slider-container {
  //display: flex;
  //flex-direction: column;
  //gap: 10px;

  //width: 100%;
  //overflow: hidden;

}

@media  screen and (max-width: 768px) {
  .cases__slider-container {
    width: 100%;

    order: 3;
  }
}

.cases__slider-container a {
  line-height: 0;
}


.cases__slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, auto);
}

.cases__slider-card {
  position: relative;

  //max-width: 1400px;
  padding-bottom: 6.3%;

  grid-column-start: span 4;
  grid-row-start: span 1;
}

.cases__slider-card:nth-child(3n - 1),
.cases__slider-card:nth-child(3n) {
  //max-width: 696px;

  padding-bottom: 0;

  grid-column-start: span 2;
  grid-row-start: span 1;
}

.cases__slider-card:nth-child(3n - 1) {
  padding-right: 5px;
}

.cases__slider-card:nth-child(3n) {
  //justify-self: end;
  padding-left: 5px;
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1),
  .cases__slider-card:nth-child(3n){

    padding-bottom: 6.3%;
    padding-left: 0;
    padding-right: 0px;

    grid-column-start: span 4;
    grid-row-start: span 1;
  }
}

@media  screen and (max-width: 768px) {
  .cases__img {
    width: 100%;
    position: absolute;

    z-index: 1;
  }
}

.cases__img picture {

  line-height: 0;
}



.cases__img img {
  width: 100%;
  line-height: 0;
  object-fit: cover;
}

.cases__tags {
  display: none;
}

@media  screen and (max-width: 768px) {
  .cases__tags  {
    display: flex;

  }
}

@media  screen and (max-width: 768px) {
  .cases__tags span {
    //display: flex;
    //justify-content: center;
    //align-items:flex-start;

    font-size: 12px;
    line-height: 15px;
    color: $color-text-primary;

    text-transform: uppercase;

    background-color: $color-default-white;
    border-radius: 20px;
  }
}


.cases__description {
  display: flex;

  padding-top: 2.6%;
}

@media  screen and (max-width: 768px) {
  .cases__description  {
    position: relative;
    flex-direction: column;
    padding-top: 0;

    z-index: 10;
  }
}



.cases__brand {
  position: relative;

  padding-top: 14px;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-black;

  text-transform: uppercase;
}

@media  screen and (max-width: 768px) {
  .cases__brand {
    padding-top: 0;
  }
}


.cases__slider-card:nth-child(3n - 1) .cases__brand,
.cases__slider-card:nth-child(3n) .cases__brand {
  padding-top: 4.6%;
}

.cases__text-wrap {
  display: flex;
  padding-left: 10.4%;
}


@media  screen and (max-width: 1200px) {
  .cases__text-wrap {
    padding-left: 3%;
  }
}

@media  screen and (max-width: 868px) {
  .cases__text-wrap {
    padding-left: 2%;
  }
}

@media  screen and (max-width: 768px) {
  .cases__text-wrap {
    padding-left: 0;
  }
}




.cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
.cases__slider-card:nth-child(3n) .cases__text-wrap {
  display: flex;
  flex-direction: column;

  padding-top: 2.5%;

  padding-left: 25.8%;
  padding-right: 5%;
}

@media  screen and (max-width: 868px) {
  .cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
  .cases__slider-card:nth-child(3n) .cases__text-wrap {
    padding-left: 15%;
  }
}

.cases__card-heading {
  width: 47.4%;

  padding-left: 5px;
}

@media  screen and (max-width: 768px) {
  .cases__card-heading {
    width: 100%;

    padding-left: 0;

  }
}

.cases__slider-card:nth-child(3n - 1) .cases__card-heading,
.cases__slider-card:nth-child(3n) .cases__card-heading {
  width: 100%;
  margin-bottom: 11%;
}

.cases__card-heading h3 {
  width: 100%;
  margin: 0;
  padding-right: 10px;

  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: $color-default-black;

  opacity: 0.4;
}

@media  screen and (max-width: 1200px) {
  .cases__card-heading h3 {
    font-size: 26px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 955px) {
  .cases__card-heading h3 {

    font-size: 22px;
    line-height: 29px;
  }
}

.cases__text-wrap dl {
  margin: 0;
  //padding-top: 3px;
  padding-left: 0.5%;

  font-size: 28px;
  line-height: 36px;
  color: $color-default-black;

}

@media  screen and (max-width: 1200px) {
  .cases__text-wrap dl {
    font-size: 26px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 955px) {
  .cases__text-wrap dl {

    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 768px) {
  .cases__text-wrap dl {
    display: none;
  }
}

.cases__text-wrap dl div {
  display: flex;
}

.cases__text-wrap dl dt {
  padding-right: 4px;
}

.cases__text-wrap dl dd {
  margin: 0;
  margin-bottom: 5px;

}

.cases__btn-link {
  max-width: 288px;
  margin-top: 124px;
  margin-left: 50.5%;
}

@media  screen and (max-width: 955px) {
  .cases__btn-link {
    max-width: 230px;
    margin-top: 80px;
  }
}

@media  screen and (max-width: 768px) {
  .cases__btn-link {

    width: 50%;
    margin-top: 0;
    margin-left: 0;
    order: 2;
  }
}


/* swiper-bullets styling */

/* .cases .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: tomato;
  opacity: 1;
} */

/* .cases .swiper-pagination-bullet-active {
  background-color: navy;
}
 */
/* .cases .swiper-button-prev,
.cases.swiper-button-next {
  position: static;
  margin-left: 10px;
}
 */
/* .cases .swiper-container {
  padding-bottom: 50px;
} */


/* .cases__slider-container .swiper-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}
 */
/* .cases .card {
  width: 20%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
} */

/* @media (max-width: 600px) {
  .cases .card {
    width: 100%;
    margin: 0;
    flex-shrink: 0;
  }

  .cases__slider-container .swiper-wrapper {
    justify-content: initial;
    flex-wrap: nowrap;
  }
} */
