.case-without-photo .case {
  padding-top: 40px;
}

@media  screen and (max-width: 768px) {
  .case-without-photo .case {
    padding-top: 11px
  }
}

.case-without-photo .case__link {
  padding-top: 16px;
}

.case-without-photo .case__link::before {

  top: 19px;
}

.case-without-photo .case__description {
  margin-bottom: 120px;
}

@media  screen and (max-width: 768px) {
  .case-without-photo .case__description {
    margin-bottom: 40px;
  }
}

@media  screen and (max-width: 768px) {
  .case-without-photo .case__info div:nth-child(2) {
    margin-top: 0;
  }
}

@media  screen and (max-width: 540px) {
  .case-without-photo .case__info div:nth-child(2) {
    margin-top: 16px;
  }
}

.case-without-photo .case__paragraph p {
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.case-without-photo .result-work {
  padding-bottom: 0;
}

.case-without-photo .process {
  padding-top: 0;

  color: $color-text-primary;

  background-color: $color-default-white;
}

.case-without-photo .link {
  padding-top: 99px;
  padding-bottom: 201px;
}

@media  screen and (max-width: 768px) {
  .case-without-photo .link {
    padding-top: 51px;
    padding-bottom: 100px;
  }
}
