.cases {
  padding-top: 100px;

  //background-color: green;
}

.cases__wrapper {
  display: flex;
  flex-direction: column;
}


.cases h2 {
  margin: 0;

  font-weight: 400;
  font-size: 78px;
  line-height: 82px;
  text-align: right;
}

.cases p {
  max-width: 815px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 62px;
  margin-left: auto;
  padding-left: 20px;

  font-size: 44px;
  line-height: 53px;
  text-align: right;
  color: $color-text-alternate;
}





/* swiper-bullets styling */

/* .cases .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: tomato;
  opacity: 1;
} */

/* .cases .swiper-pagination-bullet-active {
  background-color: navy;
}
 */
/* .cases .swiper-button-prev,
.cases.swiper-button-next {
  position: static;
  margin-left: 10px;
}
 */
/* .cases .swiper-container {
  padding-bottom: 50px;
} */

.cases__slider-container {
  overflow: hidden;
  width: 100%;
}

/* .cases__slider-container .swiper-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}
 */
/* .cases .card {
  width: 20%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
} */

/* @media (max-width: 600px) {
  .cases .card {
    width: 100%;
    margin: 0;
    flex-shrink: 0;
  }

  .cases__slider-container .swiper-wrapper {
    justify-content: initial;
    flex-wrap: nowrap;
  }
} */
