.cases {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media  screen and (max-width: 955px) {
  .cases {
    padding-top: 85px;
    padding-bottom: 75px;
  }
}

@media  screen and (max-width: 768px) {
  .cases {
    padding-top: 76px;
  }
}

@media  screen and (max-width: 600px) {
  .cases {
    padding-top: 51px;
    padding-bottom: 50px;

  }
}

.cases__wrapper {
  display: flex;
  flex-direction: column;
}

@media  screen and (max-width: 768px) {
  .cases__wrapper {

    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}


@media  screen and (max-width: 768px) {
  .cases__text {
    width: 50%;

    order: 1
  }
}

@media  screen and (max-width: 600px) {
  .cases__text {
    width: 90%;
  }
}

.cases h2 {
  margin: 0;

  font-weight: 400;
  font-size: 78px;
  line-height: 82px;
  text-align: right;
}

@media  screen and (max-width: 955px) {
  .cases h2 {
    font-size: 58px;
    line-height: 62px;
  }
}

@media  screen and (max-width: 768px) {
  .cases h2 {
    font-size: 35px;
    line-height: 37px;
    text-align: left;
  }
}

@media  screen and (max-width: 600px) {
  .cases h2 {
    font-size: 27px;
    line-height: 28px;

  }
}

.cases p {
  max-width: 815px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 62px;
  margin-left: auto;
  padding-left: 20px;

  font-size: 44px;
  line-height: 53px;
  text-align: right;
  color: $color-text-alternate;
}

@media  screen and (max-width: 1200px) {
  .cases p {
    font-size: 31px;
    line-height: 31px;
  }
}

@media  screen and (max-width: 955px) {
  .cases p {
    max-width: 400px;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 55px;

    font-size: 21px;
    line-height: 21px;
  }
}

@media  screen and (max-width: 768px) {
  .cases p {
    max-width: 330px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0;

    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

@media  screen and (max-width: 600px) {
  .cases p {

    padding-top: 10px;
    padding-bottom: 40px;
  }
}




@media  screen and (max-width: 768px) {
  .cases__slider-container {
    width: 100%;

    order: 3;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-container {
    width: 100%;
    max-width: 1020px;
    padding-bottom: 40px;

    order: 2;
  }
}

.cases__slider-container a {
  line-height: 0;
}

.cases__slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, auto);
}

@media  screen and (max-width: 600px) {
  .cases__slider-wrapper {
    display: flex;

    justify-content: initial;
		flex-wrap: nowrap;
  }
}

.cases__slider-card {
  position: relative;

  padding-bottom: 6.3%;

  grid-column-start: span 4;
  grid-row-start: span 1;
}

@media  screen and (max-width: 768px) {
  .cases__slider-card {
    min-height: 460px;  //
    max-height: 460px;

    margin-bottom: 20px;
    padding-bottom: 0
  }
}

@media  screen and (max-width: 668px) {
  .cases__slider-card {
    min-height: 400px;
  }
}


.cases__slider-card:nth-child(3n - 1),
.cases__slider-card:nth-child(3n) {

  padding-bottom: 0;

  grid-column-start: span 2;
  grid-row-start: span 1;
}

.cases__slider-card:nth-child(3n - 1) {
  padding-right: 5px;
}

.cases__slider-card:nth-child(3n) {
  padding-left: 5px;
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1),
  .cases__slider-card:nth-child(3n) {

    padding-left: 0;
    padding-right: 0px;

    grid-column-start: span 4;
    grid-row-start: span 1;
  }
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1) {
    order: 3;
  }
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 2) {
    order: 2;
  }
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n) {
    order: 1;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-card:nth-child(3n - 1) {
    order: 2;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-card:nth-child(3n - 2) {
    order: 3;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-card:nth-child(3n) {
    order: 1;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-card {
    min-height: 460px;
    max-width: 330px;
    margin: 0;
    flex-shrink: 0;
  }
}

@media  screen and (max-width: 768px) {
  .cases__img {
    position: absolute;

    width: 100%;
    min-height: 460px;  //
    max-height: 460px;


    z-index: 1;
  }
}

@media  screen and (max-width: 668px) {
  .cases__img {
    min-height: 410px;
  }
}

@media  screen and (max-width: 600px) {
  .cases__img {
    min-height: 460px;
  }
}

.cases__img picture {

  line-height: 0;
}

.cases__img img {
  width: 100%;
  line-height: 0;
  object-fit: cover;
}

@media  screen and (max-width: 768px) {
  .cases__img img {

    min-height: 460px;  //@at-root
    max-height: 460px;

  }
}

@media  screen and (max-width: 668px) {
  .cases__img img {
    min-height: 410px;
  }
}

@media  screen and (max-width: 600px) {
  .cases__img img {
    min-height: 460px;
  }
}

.cases__tags {
  display: none;
}

@media  screen and (max-width: 768px) {
  .cases__tags  {
    display: flex;
    width: 100%;
    align-items:flex-start;
    padding-top: 2.8%;
    padding-left: 3%;

    order: 1;
  }
}

@media  screen and (max-width: 600px) {
  .cases__tags  {
    padding-top: 5.7%;
    padding-left: 6%;
  }
}

@media  screen and (max-width: 768px) {
  .cases__tags span {

    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 12px;
    line-height: 15px;
    color: $color-text-primary;

    text-transform: uppercase;

    background-color: $color-default-white;
    border-radius: 20px;
  }
}

.cases__description {
  display: flex;
  //flex-wrap: wrap;

  padding-top: 2.6%;
}

@media  screen and (max-width: 768px) {
  .cases__description  {
    position: relative;
    flex-wrap: wrap;
    min-height: 460px;  //
    max-height: 460px;

    padding-top: 0;

    background-image: url(../img/bg/shadow.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
  }
}

@media  screen and (max-width: 668px) {
  .cases__description {
    min-height: 410px;
  }
}

@media  screen and (max-width: 600px) {
  .cases__description {
    min-height: 460px;
  }
}

.cases__brand {
  padding-top: 14px;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-black;

  text-transform: uppercase;
}

@media  screen and (max-width: 768px) {
  .cases__brand {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    width: 30%;

    padding-right: 10px;
    padding-bottom: 10px;

    padding-top: 0;

    font-size: 12px;
    line-height: 15px;
    color: $color-default-white;

    order: 3;
  }
}

.cases__slider-card:nth-child(3n - 1) .cases__brand,
.cases__slider-card:nth-child(3n) .cases__brand {
  padding-top: 4.6%;
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1) .cases__brand,
  .cases__slider-card:nth-child(3n) .cases__brand {
    margin-left: auto;
    padding-top: 0;
  }
}

.cases__text-wrap {
  display: flex;
  padding-left: 10.4%;
}

@media  screen and (max-width: 1200px) {
  .cases__text-wrap {
    padding-left: 3%;
  }
}

@media  screen and (max-width: 868px) {
  .cases__text-wrap {
    padding-left: 2%;
  }
}

@media  screen and (max-width: 768px) {
  .cases__text-wrap {
    display: flex;
    align-items: flex-end;
    width: 70%;
    //width: 40%;

    padding-left: 0;

    order: 2;
  }
}

.cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
.cases__slider-card:nth-child(3n) .cases__text-wrap {
  display: flex;
  flex-direction: column;

  padding-top: 2.5%;

  padding-left: 25.8%;
  padding-right: 5%;
}

@media  screen and (max-width: 868px) {
  .cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
  .cases__slider-card:nth-child(3n) .cases__text-wrap {
    padding-left: 15%;
  }
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
  .cases__slider-card:nth-child(3n) .cases__text-wrap {
    flex-direction: row;
    max-width: 300px;
    padding-top: 0;
    padding-left: 0;
    padding-top: 0;
  }
}

@media  screen and (max-width: 600px) {
  .cases__slider-card:nth-child(3n - 1) .cases__text-wrap,
  .cases__slider-card:nth-child(3n) .cases__text-wrap {
    padding-right: 0;
  }
}

.cases__card-heading {
  width: 47.4%;

  padding-left: 5px;
}

@media  screen and (max-width: 768px) {
  .cases__card-heading {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}


@media  screen and (max-width: 768px) {
  .cases__card-heading {
    width: 100%;
  }
}

.cases__slider-card:nth-child(3n - 1) .cases__card-heading,
.cases__slider-card:nth-child(3n) .cases__card-heading {
  width: 100%;
  margin-bottom: 11%;
}

@media  screen and (max-width: 768px) {
  .cases__slider-card:nth-child(3n - 1) .cases__card-heading,
  .cases__slider-card:nth-child(3n) .cases__card-heading {
    margin-bottom: 0;
  }
}

.cases__card-heading h3 {
  width: 100%;
  margin: 0;
  padding-right: 10px;

  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: $color-default-black;

  opacity: 0.4;
}

@media  screen and (max-width: 1200px) {
  .cases__card-heading h3 {
    font-size: 26px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 955px) {
  .cases__card-heading h3 {

    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 768px) {
  .cases__card-heading h3 {
    //
    max-width: 290px;

    padding-right: 0;

    color: $color-default-white;

    opacity: 1;
  }
}


.cases__text-wrap dl {
  margin: 0;
  padding-left: 0.5%;

  font-size: 28px;
  line-height: 36px;
  color: $color-default-black;

}

@media  screen and (max-width: 1200px) {
  .cases__text-wrap dl {
    font-size: 26px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 955px) {
  .cases__text-wrap dl {

    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 768px) {
  .cases__text-wrap dl {
    display: none;
  }
}

.cases__text-wrap dl div {
  display: flex;
}

.cases__text-wrap dl dt {
  padding-right: 4px;
}

.cases__text-wrap dl dd {
  margin: 0;
  margin-bottom: 5px;

}

.cases .swiper-pagination {
  display: none;
}

@media  screen and (max-width: 600px) {
  .cases .swiper-pagination {
    display: block;
  }
}

.cases__btn-link {
  max-width: 288px;
  margin-top: 124px;
  margin-left: 50.5%;
}

@media  screen and (max-width: 955px) {
  .cases__btn-link {
    max-width: 230px;
    margin-top: 80px;
  }
}

@media  screen and (max-width: 768px) {
  .cases__btn-link {
    min-width: 236px;

    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
    margin-left: auto;

    order: 2;
  }
}

@media  screen and (max-width: 600px) {
  .cases__btn-link {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;

    order: 3;
  }
}

@media  screen and (max-width: 768px) {
  .cases__btn-link a {

    min-width: 236px;
    margin-left: auto;
  }
}

@media  screen and (max-width: 600px) {
  .cases__btn-link a {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}


/* swiper-bullets styling */

.cases__pagination {
  display: none;
}

@media  screen and (max-width: 600px) {
  .cases__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}


@media  screen and (max-width: 600px) {
  .cases .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;

    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    opacity: 0.45;
    cursor: pointer;
  }
}

@media  screen and (max-width: 600px) {
  .cases .swiper-pagination-bullet-active {
    opacity: 1;
  }
}
