// DARK THEME

.dark-theme {
  background-color: $color-background;
}



.header__logo--dark {
  display: block;
}

.header__logo--light {
  display: none;
}





.dark-theme .main-nav__link {
  color: $color-default-white;
}

.dark-theme .main-nav__toggle {
  background-image: url(../img/sprite/icon-open-dark.svg);
}

.dark-theme .main-nav__link:hover {
  color: $color-primary;
}

.dark-theme .main-nav__link--active {

  color: $color-primary;
}

.dark-theme .main-nav--opened .main-nav__link {
  color: $color-text-primary;
}


.dark-theme .main-nav--opened .main-nav__toggle {
  top: 9.5px;
  right: 7px;

  background-image: url(../img/sprite/icon-close.svg);
  background-repeat: no-repeat;
}


.dark-theme .btn {
  color: $color-text-primary;

  background-color: $color-default-white;
}

.dark-theme .main-nav--opened .btn {
  color: $color-default-white;

  background-color: $color-text-primary;
}




/* .main-nav--dark .main-nav--opened .main-nav__toggle {

  background-image: url(../img/sprite/icon-close.svg);
  background-repeat: no-repeat;

} */

/* @media  screen and (max-width: 768px) {
  .main-nav .main-nav--opened .main-nav__toggle {
    font-size: 14px;
    line-height: 17px;
  }
} */




