.footer {
  min-height: 641px;

  background-color: $color-primary;
}

.footer__appeal {
  margin: 0;

  font-size: 160px;
  line-height: 128px;

  color: $color-default-white;
}

.footer__btn {
  max-width: 662px;

  border-radius: 90px;
}
