.footer {
  padding-top: 40px;
  padding-bottom: 36px;

  background-color: $color-primary;
  scroll-behavior: smooth;
}

@media  screen and (max-width: 768px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 16px;
  }
}

@media  screen and (max-width: 600px) {
  .footer {
    padding-bottom: 18px;
  }
}

.footer--light {
  background-color: $color-default-white
}

.footer__appeal {
  position: relative;
  width: 100%;
  margin-bottom: 14.4%;
}

@media  screen and (max-width: 768px) {
  .footer__appeal {
    margin-bottom: 13.6%;
  }
}

@media  screen and (max-width: 600px) {
  .footer__appeal {
    margin-bottom: 0;
  }
}

.footer__appeal p {
  margin: 0;

  font-size: 160px;
  line-height: 128px;

  color: $color-default-white;
}

@media  screen and (max-width: 1410px) {
  .footer__appeal p {
    font-size: 140px;
  }
}

@media  screen and (max-width: 1240px) {
  .footer__appeal p {
    font-size: 120px;
    line-height: 108px;

  }
}

@media  screen and (max-width: 1070px) {
  .footer__appeal p {
    font-size: 100px;
    line-height: 90px;
  }
}

@media  screen and (max-width: 900px) {
  .footer__appeal p {
    font-size: 80px;
    line-height: 70px;
  }
}

@media  screen and (max-width: 768px) {
  .footer__appeal p {
    max-width: 500px;
    font-size: 56px;
    line-height: 59px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__appeal p {
    max-width: 100%;
  }
}

.footer__btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 47.2%;

  border-radius: 90px;
}

@media  screen and (max-width: 900px) {
  .footer__btn {
    right: 0;
    bottom: 0;
    width: 50%;
  }
}

@media  screen and (max-width: 768px) {
  .footer__btn {
    width: 66%;
  }
}

@media  screen and (max-width: 700px) {
  .footer__btn {
    width: 60%;
  }
}

@media  screen and (max-width: 600px) {
  .footer__btn {
    position: static;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media  screen and (max-width: 600px) {
  .footer__contacts {
    align-items: flex-start;
  }
}

.footer__info {
  display: flex;
  align-items: flex-end;
}

@media  screen and (max-width: 600px) {
  .footer__info {
    flex-direction: column;
  }
}

.footer__address {
  width: 170px;
  max-width: 170px;
  margin: 0;
  margin-right: 65px;

  font-size: 18px;
  line-height: 23px;
  color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .footer__address {
    margin-right: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__address {
    margin-bottom: 16px;
  }
}

.footer__links {
  display: flex;
  align-items: flex-end;
}

@media  screen and (max-width: 955px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media  screen and (max-width: 768px) {
  .footer__links {
    padding-left: 77px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__links {
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 0;
  }
}

.footer__email,
.footer__telephone {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__email {
  margin-right: 55px;
}

@media  screen and (max-width: 955px) {
  .footer__email {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media  screen and (max-width: 768px) {
  .footer__email {

    margin-bottom: 0;
  }
}

@media  screen and (max-width: 600px) {
  .footer__telephone {
    padding-top: 4px;
  }
}

.footer__email a,
.footer__telephone a {
  font-size: 18px;
  line-height: 22px;
  color: $color-default-white;

  text-transform: uppercase;

  border-bottom: 1px solid $color-default-white;
}

@media  screen and (max-width: 768px) {
  .footer__email a,
  .footer__telephone a {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__social {
    align-self: flex-end;
  }
}

.footer__social ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .footer__social ul {
    flex-direction: column;
  }
}

.footer__social ul li {
  margin-left: 40px;
}

@media  screen and (max-width: 600px) {
  .footer__social ul li {
    margin-top: 4px;
  }
}

.footer__social li a {
  font-size: 18px;
  line-height: 22px;
  color: $color-default-white;

  text-transform: uppercase;

  border-bottom: 1px solid $color-default-white;
}

@media  screen and (max-width: 768px) {
  .footer__social li a {
    font-size: 14px;
    line-height: 17px;
  }
}







.footer__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

@media  screen and (max-width: 600px) {
  .footer__text {
    padding-top: 33px;
  }
}

.footer__text::before {
  content: "";

  position: absolute;

  top: 19px;

  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.3);
}

.footer--light .footer__text::before {
  background-color: rgba(1, 3, 2, 0.3);
}

.footer__privacy-policy a {
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;

  text-transform: uppercase;

  border-bottom: 1px solid $color-default-white;
}

.footer--light .footer__privacy-policy a {
  color: $color-text-primary;

  border-bottom: 1px solid $color-text-primary;
}

@media  screen and (max-width: 768px) {
  .footer__privacy-policy a {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__copyright {
  padding-top: 4px;

  font-size: 14px;
  line-height: 17px;
  color: $color-text-primary;
}

.footer--light {
  color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__copyright {
    padding-top: 6px;
  }
}
