.header {
  padding-top: 20px;
}

@media  screen and (max-width: 768px) {
  .header {
    padding-top: 10px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  padding-top: 3px;
  line-height: 0;
}

@media  screen and (max-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}

.header__logo img,
.header__logo--dark img {
  width: 45px;
  max-width: 45px;
  height: 37px;
}

@media  screen and (max-width: 768px) {
  .header__logo img {
    position: relative;

    z-index: 2000;
  }
}




.header__btn {
  position: relative;
  margin: 0;

  border-radius: 40px;
  z-index: 7000;
}


@media  screen and (max-width: 768px) {
  .header__btn {
    min-width: 175px;
    margin-right: 80px;
    margin-right: 60px;
  }
}

@media  screen and (max-width: 580px) {
  .header__btn {
    margin-right: 33px;
    min-width: 161px;
  }
}


@media  screen and (max-width: 955px) {
  .header__btn .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 768px) {
  .header__btn .btn {
    position: relative;

    z-index: 2000;
  }
}

@media  screen and (max-width: 580px) {
  .header__btn .btn {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__logo--dark {
  display: none;
}


