.main-nav {
  width: 53.8%;
  padding-top: 10px;
}

@media  screen and (max-width: 1055px) {
  .main-nav {
    width: 60%;
  }
}

@media  screen and (max-width: 955px) {
  .main-nav {
    padding-top: 8px;
  }
}

@media  screen and (max-width: 790px) {
  .main-nav {
    width: 65%;
  }
}

.main-nav__toggle {
  display: none;
}

@media screen and (max-width: 768px) {

  .main-nav__toggle {
    position: absolute;
    top: 9.5px;
    right: 7px;
    z-index: 1200;

    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;
    //background-color: green;
    background-image: url(../img/sprite/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
    border: none;
  }


  .main-nav--opened .main-nav__toggle {
    top: 9.5px;
    right: 7px;

    background-image: url(../img/sprite/icon-close.svg);
    background-repeat: no-repeat;

  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 299px;
    height: 100vh;
    padding-top: 73px;
    padding-left: 15px;
    background-color: $color-default-white;
    z-index: 1000;
  }



  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .main-nav__toggle {
    top: 8px;
    right: 0;
  }
}

@media screen and (max-width: 580px) {
   .main-nav--opened .main-nav__toggle {
    top: 8px;
    right: 0;
  }
}




.main-nav__wrapper {


  display: flex;
  width: 100%;
  justify-content: space-between;
  //background-color: green;

}

@media screen and (max-width: 768px) {
  .main-nav__wrapper {
   flex-direction: column;
   justify-content: flex-start;
 }
}

.main-nav__list-first,
.main-nav__list-second {

  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .main-nav__list-first,
  .main-nav__list-second  {
   flex-direction: column;

   padding-top: 25px;

   padding-left: 15px;
 }
}

@media screen and (max-width: 768px) {
  .main-nav__list-second  {
   padding-top: 20px;
 }
}

@media screen and (max-width: 768px) {
  .main-nav__list-first li,
  .main-nav__list-second li {
    margin-bottom: 20px;
 }
}












.main-nav__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media  screen and (max-width: 768px) {
  .main-nav__item  {
    padding-left: 0;
  }
}

.main-nav__link {
  color: $color-text-primary;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}


@media  screen and (max-width: 955px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav__link {
    font-size: 22px;
    line-height: 27px;
  }
}

.main-nav__link:hover {
  color: $color-primary;
}


 .main-nav__link--active {
  position: relative;
  color: $color-primary;
}

.main-nav__link--active::before {
  position: absolute;

  content: "";

  left: -9px;
  top: 8px;

  width: 4px;
  height: 4px;

  background-color: $color-primary;
  border-radius: 10px;
}

@media  screen and (max-width: 955px) {
  .main-nav__link--active::before {
    top: 7px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav__link--active::before {
    top: 11px;
  }
}





.main-nav__contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-nav__contacts {
  display: none;
}

@media  screen and (max-width: 768px) {
  .main-nav__contacts {
    display: flex;
    margin-top: auto;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media  screen and (max-width: 600px) {
  .main-nav__contacts {
    align-items: flex-start;
  }
}

.main-nav__info {
  display: flex;
  align-items: flex-end;
}

@media  screen and (max-width: 600px) {
  .main-nav__info {
    flex-direction: column;
  }
}

.main-nav__address {
  width: 170px;
  max-width: 170px;
  margin: 0;
  margin-right: 65px;

  font-size: 18px;
  line-height: 23px;
  color: $color-text-primary;
}

@media  screen and (max-width: 768px) {
  .main-nav__address {
    margin-right: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

@media  screen and (max-width: 600px) {
  .main-nav__address {
    margin-bottom: 16px;
  }
}

.main-nav__links {
  display: flex;
  align-items: flex-end;
}

@media  screen and (max-width: 955px) {
  .main-nav__links {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav__links {
    padding-left: 77px;
  }
}

@media  screen and (max-width: 600px) {
  .main-nav__links {
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 0;
  }
}

.main-nav__email,
.main-nav__telephone {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__email {
  margin-right: 55px;
}

@media  screen and (max-width: 955px) {
  .main-nav__email {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav__email {

    margin-bottom: 0;
  }
}

@media  screen and (max-width: 600px) {
  .main-nav__telephone {
    padding-top: 4px;
  }
}

.main-nav__email a,
.main-nav__telephone a {
  font-size: 18px;
  line-height: 22px;
  color: $color-text-primary;

  text-transform: uppercase;

  border-bottom: 1px solid $color-text-primary;
}

@media  screen and (max-width: 768px) {
  .main-nav__email a,
  .main-nav__telephone a {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 600px) {
  .main-nav__social {
    align-self: flex-end;
  }
}

.main-nav__social ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .main-nav__social ul {
    flex-direction: column;
  }
}

.main-nav__social ul li {
  margin-left: 40px;
}

@media  screen and (max-width: 600px) {
  .main-nav__social ul li {
    margin-top: 4px;
  }
}

.main-nav__social li a {
  font-size: 18px;
  line-height: 22px;
  color: $color-text-primary;

  text-transform: uppercase;

  border-bottom: 1px solid $color-text-primary;
}

@media  screen and (max-width: 768px) {
  .main-nav__social li a {
    font-size: 14px;
    line-height: 17px;
  }
}







//



.main-nav__list-first ul,
.main-nav__list-second ul {
  position: absolute;

  top: -20px;

  min-width: 300px;
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-top: 62px;

  font-size: 18px;
  line-height: 22px;

  //background-color: green;
  background-color: $color-default-white;

  text-transform: uppercase;
  list-style: none;

  z-index: 5;
  left: 100vw;

}

@media  screen and (max-width: 768px) {
  .main-nav__list-first ul,
  .main-nav__list-second ul  {
    padding-top: 0;

    font-size: 14px;
    line-height: 27px;

    left: 120vw;
    top: -50px;
    z-index: 1;
  }
}



.main-nav__fullscreen-sub-menu {
  width: 200vw;
  display: none;

  height: 650px;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: -100vw;

  z-index: 6000;

  //background-color: red;
  background-color: $color-default-white;
}

@media  screen and (max-width: 1110px) {
  .main-nav__fullscreen-sub-menu {
    height: 700px;
  }
}

@media  screen and (max-width: 870px) {
  .main-nav__fullscreen-sub-menu {
    min-height: 1150px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav__fullscreen-sub-menu {
    background-color: transparent;

  }
}




.main-nav__sub-menu {
  display: none;
}

.main-nav__list-first>li:hover>.main-nav__fullscreen-sub-menu>.main-nav__sub-menu {
  display: block;
}

@media  screen and (max-width: 735px) {
  .main-nav__list-first>li:hover>.main-nav__fullscreen-sub-menu>.main-nav__sub-menu {
    display: none;
  }
}


.main-nav__list-first>li:hover>.main-nav__fullscreen-sub-menu {
  display: block;
}





.main-nav .main-nav__sub-sub-menu {
  display: none;

  top: 0;
  left: 395px;

  //background-color: blue;
  background-color: $color-default-white;
  z-index: 8000;
}

@media  screen and (max-width: 1340px) {
  .main-nav .main-nav__sub-sub-menu {
    left: 345px;
  }
}

@media  screen and (max-width: 1140px) {
  .main-nav .main-nav__sub-sub-menu {
    left: 325px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav .main-nav__sub-sub-menu {
    left: 240px;
  }
}







.main-nav__sub-menu>li:hover>.main-nav__sub-sub-menu {
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
  max-width: 690px;
}

@media  screen and (max-width: 1250px) {
  .main-nav__sub-menu>li:hover>.main-nav__sub-sub-menu {
    max-width: 600px;
  }
}

@media  screen and (max-width: 1110px) {
  .main-nav__sub-menu>li:hover>.main-nav__sub-sub-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
  }
}

@media  screen and (max-width: 870px) {
  .main-nav__sub-menu>li:hover>.main-nav__sub-sub-menu {
    flex-direction: column;
    max-width: 200px;
  }
}



.main-nav__list-first ul li,
.main-nav__list-second ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

  cursor: pointer;
}

@media  screen and (max-width: 768px) {
  .main-nav__list-first ul li,
  .main-nav__list-second ul li {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


.main-nav__list-first ul li a,
.main-nav__list-second ul li a {
  width: 100%;
  height: 100%;
}



.main-nav__sub-item {
  margin-left: 15px;
}

.main-nav .main-nav__sub-sub-item {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 150px;
  max-height: 150px;

  border: 1px solid #DDDDDD;
}

@media  screen and (max-width: 1110px) {
  .main-nav .main-nav__sub-sub-item {
    width: 50%;
  }
}

@media  screen and (max-width: 870px) {
  .main-nav .main-nav__sub-sub-item {
    width: 100%;
    display: flex;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav .main-nav__sub-sub-item {
    min-height: 117px;
    max-height: 117px;
  }
}




.main-nav .main-nav__sub-sub-item a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media  screen and (max-width: 870px) {
  .main-nav .main-nav__sub-sub-item a {
    min-height: 150px;
    max-height: 150px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav .main-nav__sub-sub-item a {
    min-height: 117px;
    max-height: 117px;
  }
}

.main-nav .main-nav__sub-sub-item span {
  margin-left: auto;

  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $color-text-primary;
}

@media  screen and (max-width: 870px) {
  .main-nav .main-nav__sub-sub-item span {
    max-width: 200px;

    order: 2
  }
}

.main-nav .main-nav__sub-sub-item p {
  margin: 0;
  width: 100%;
  margin-top: auto;

  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $color-text-primary;
}

@media  screen and (max-width: 870px) {
  .main-nav .main-nav__sub-sub-item p {
    margin-top: 0;
    max-width: 130px;

    order: 1
  }
}

.main-nav .main-nav__sub-sub-item div {
  margin: 0;
  display: none;

  font-size: 14px;
  line-height: 17px;
  text-transform: none;

  color: $color-text-primary;
}

@media  screen and (max-width: 870px) {
  .main-nav .main-nav__sub-sub-item div {
    display: flex;
    align-self:flex-end;
    margin-top: auto;

    order: 3;
  }
}


.main-nav__sub-sub-menu>li:hover>a>span {
  width: auto;

  order: 2
}

.main-nav__sub-sub-menu>li:hover>a>div {
  display: block;
  width: 100%;
  margin-top: auto;

  order: 3;
}

.main-nav__sub-sub-menu>li:hover>a>p {
  width: auto;
  max-width: 170px;
  margin-top: 0;

  order: 1
}

@media  screen and (max-width: 1250px) {
  .main-nav__sub-sub-menu>li:hover>a>p {
    max-width: 130px;
  }
}





// hover



 .main-nav .main-nav__sub-menu:hover a {
  color: rgba(1, 3, 2, 0.5);
 }

.main-nav .main-nav__sub-menu .main-nav__sub-item--active a {
  color: $color-text-primary;
}


.main-nav__sub-sub-menu:hover span {
  color: rgba(1, 3, 2, 0.5);
}

.main-nav__sub-sub-menu:hover p {
  color: rgba(1, 3, 2, 0.5);
}

.main-nav__sub-sub-menu:hover div {
  color: rgba(1, 3, 2, 0.5);
}

.main-nav__sub-sub-menu .main-nav__sub-sub-item--active span {
  color: $color-text-primary;
}

.main-nav__sub-sub-menu .main-nav__sub-sub-item--active p {
  color: $color-text-primary;
}

.main-nav__sub-sub-menu .main-nav__sub-sub-item--active div {
  color: $color-text-primary;
}


@media  screen and (max-width: 768px) {
  .main-nav .main-nav__item--opacity > a {
    opacity: 0.4;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav .main-nav__item--active > a {
    color: $color-text-primary;
    opacity: 1;
  }
}



