.service-page__heading {
  padding-top: 4px;

  font-size: 14px;
  line-height: 17px;
}

@media  screen and (max-width: 768px) {
  .service-page__heading {
    padding-top: 0;

    font-size: 12px;
    line-height: 15px;
  }
}

.service-page .portfolio {
  padding-top: 79px;
  padding-bottom: 73px;
}

@media  screen and (max-width: 768px) {
  .service-page .portfolio {
    padding-top: 40px;
    padding-bottom: 110px;
  }
}

@media  screen and (max-width: 540px) {
  .service-page .portfolio {
    padding-bottom: 98px;
  }
}

@media screen and (max-width: 625px) {
  .service-page__slider-container {
    width: 100%;
    max-width: 1025px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 540px) {
  .service-page__slider-container {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 625px) {
  .service-page__slider-wrapper {
    display: flex;
    justify-content: initial;
    flex-wrap: nowrap;

    column-gap: 0;
  }
}

@media screen and (max-width: 625px) {
  .service-page .portfolio__case-card {
    max-width: 325px;
    min-height: 460px;

    flex-shrink: 0;
  }
}

@media screen and (max-width: 625px) {
  .service-page .portfolio__tags span:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 625px) {
  .service-page .portfolio__text-wrap {
    padding-top: 0;
  }
}

@media screen and (max-width: 625px) {
  .service-page .portfolio__card-heading {
    display: flex;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 625px) {
  .service-page .portfolio__card-heading h2 {
    margin-top: auto;
  }
}



/* swiper-bullets styling */

.service-page__pagination {
  display: none;
}

@media  screen and (max-width: 625px) {
  .service-page__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media  screen and (max-width: 540px) {
  .service-page__pagination {
    margin-top: 0;
  }
}

@media  screen and (max-width: 625px) {
  .service-page .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;

    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    opacity: 0.45;
    cursor: pointer;
  }
}

@media  screen and (max-width: 625px) {
  .service-page .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

@media  screen and (max-width: 600px) {
  .service-page .portfolio__buttons {
    padding-top: 0;
  }
}

.service-page .portfolio__btn {
  margin-left: auto;
}

@media  screen and (max-width: 600px) {
  .service-page .portfolio__btn {
    padding-top: 0;
  }
}

@media  screen and (max-width: 540px) {
  .service-page .portfolio__btn {
    width: 100%;
  }
}

@media  screen and (max-width: 540px) {
  .service-page .portfolio__btn {
    width: 100%;
    padding-top: 20px;
  }
}

@media  screen and (max-width: 540px) {
  .service-page .portfolio__btn .btn {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 9px;

    font-size: 22px;
    line-height: 27px;
  }
}
