.strategic-marketing {
  padding-top: 88px;
}

@media  screen and (max-width: 768px) {
  .strategic-marketing {
    padding-top: 20px;
  }
}

.strategic-marketing h1 {
  max-width: 808px;
  margin: 0;

  font-weight: 400;
  font-size: 160px;
  line-height: 128px;
}

@media  screen and (max-width: 768px) {
  .strategic-marketing h1 {
    font-size: 56px;
    line-height: 59px;
  }
}

.strategic-marketing h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media  screen and (max-width: 768px) {
  .strategic-marketing h2 {
    font-size: 12px;
    line-height: 15px;
  }
}
