

.strategic-marketing-page span {
  font-size: 14px;
  line-height: 17px;
}

@media  screen and (max-width: 768px) {
  .strategic-marketing-page span {
    font-size: 12px;
    line-height: 15px;
  }
}
