.team {
  margin-bottom: 120px;
}

@media  screen and (max-width: 768px) {
  .team  {
    margin-bottom: 117px;
  }
}

@media  screen and (max-width: 540px) {
  .team  {
    margin-bottom: 60px;
  }
}

.team h2 {
  margin: 0;
  margin-bottom: 67px;

  font-weight: 400;
  font-size: 100px;
  line-height: 105px;
}

@media  screen and (max-width: 768px) {
  .team h2 {
    margin-bottom: 40px;

    font-size: 59px;
    line-height: 62px;
  }
}

@media  screen and (max-width: 540px) {
  .team h2 {
    margin-bottom: 39px;
    font-size: 27px;
    line-height: 28px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.71428%;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 540px) {
  .team__list {
    gap: 0;
    justify-content: space-between;
  }
}

.team__list li {
  width: 32.85714%;
  margin-bottom: 80px;
}

@media  screen and (max-width: 768px) {
  .team__list li {
    margin-bottom: 38px;
  }
}

@media  screen and (max-width: 540px) {
  .team__list li {
    width: 48.5%;
    margin-bottom: 39px;
  }
}

@media  screen and (max-width: 540px) {
  .team__list img {
    width: 100%;
    object-fit: cover;
  }
}

.team__list li p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 28px;
  line-height: 36px;
}

@media  screen and (max-width: 959px) {
  .team__list li p {
    font-size: 18px;
    line-height: 23px;
  }
}

@media  screen and (max-width: 768px) {
  .team__list li p {
    margin-bottom: 5px;
  }
}


@media  screen and (max-width: 620px) {
  .team__list li p {
    font-size: 16px;
    line-height: 21px;
  }
}

@media  screen and (max-width: 540px) {
  .team__list li p {
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

.team__list li span {
  font-size: 28px;
  line-height: 36px;

  opacity: 0.5;
}

@media  screen and (max-width: 959px) {
  .team__list li span {
    font-size: 19px;
    line-height: 25px;
  }
}

@media  screen and (max-width: 620px) {
  .team__list li span {
    font-size: 16px;
    line-height: 21px;
  }
}
