.ui-buttons {
  background-color: #C0C0C0;
}

.ui-buttons h3 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui-buttons>div {
  display: flex;
}


.ui-buttons>div>div {
  width: 50%;
}

.ui-buttons>div>div>div {
  display: flex;
}

.ui-button-dark {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: $color-text-primary;

  border: 1px solid $color-background;
  border-radius: 40px;
}

.ui-button-dark:hover {
  color: $color-default-white;
  background-color: $color-primary;
}

.ui-button-dark:active {
  color: $color-default-white;

  background-color: $color-background;
}

@media  screen and (max-width: 1200px) {
  .ui-button-dark {
    font-size: 22px;
    line-height: 27px;
  }
}


@media  screen and (max-width: 768px) {
  .ui-button-dark {
    font-size: 18px;
    line-height: 22px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-button-dark {
    font-size: 14px;
    line-height: 17px;
  }
}



.ui-button-light {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: $color-default-white;

  border: 1px solid $color-default-white;
  border-radius: 40px;
}

.ui-button-light:hover {

  background-color: $color-primary
}

.ui-button-light:active {
  color: $color-text-primary;

  background-color: #fff;
}

@media  screen and (max-width: 1200px) {
  .ui-button-light {
    font-size: 22px;
    line-height: 27px;
  }
}


@media  screen and (max-width: 768px) {
  .ui-button-light {
    font-size: 18px;
    line-height: 22px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-button-light {
    font-size: 14px;
    line-height: 17px;
  }
}
