.ui-links {
  background-color: #C0C0C0;
}

.ui-links h3 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}


.ui-links>div {
  display: flex;
}


.ui-links>div>div {
  width: 50%;
}

.ui-links>div>div>div {
  display: flex;
}


.ui-link-desktop {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #010302;

  border-bottom: 1px solid #010302;
}

.ui-link-desktop:hover {
  color: $color-primary;

  border-bottom: 1px solid $color-primary;
}


@media  screen and (max-width: 768px) {
  .ui-link-desktop {
    font-size: 18px;
    line-height: 22px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-link-desktop {
    font-size: 14px;
    line-height: 17px;
  }
}



.ui-link-adaptive {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #010302;

  border-bottom: 1px solid #010302;
}

.ui-link-adaptive:hover {
  color: $color-primary;

  border-bottom: 1px solid $color-primary;
}

@media  screen and (max-width: 768px) {
  .ui-link-adaptive {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-link-adaptive {
    font-size: 12px;
    line-height: 15px;
  }
}

