.ui-tags {
  background-color: #C0C0C0;
}

.ui-tags h3 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}


.ui-tags>div {
  display: flex;
}


.ui-tags>div>div {
  width: 50%;
}

.ui-tags>div>div>div {
  display: flex;
}

.ui-tag-light {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: $color-default-white;

  border: 1px solid $color-default-white;
  border-radius: 20px;
}

@media  screen and (max-width: 1200px) {
  .ui-tag-light {
    font-size: 22px;
    line-height: 27px;
  }
}


@media  screen and (max-width: 768px) {
  .ui-tag-light {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-tag-light {
    font-size: 12px;
    line-height: 15px;
  }
}

.ui-tag-light--active {
  color: $color-text-primary;
  background-color: $color-default-white;
}

.ui-tag-dark {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: $color-text-primary;

  border: 1px solid $color-background;
  border-radius: 20px;
}

@media  screen and (max-width: 1200px) {
  .ui-tag-dark {
    font-size: 22px;
    line-height: 27px;
  }
}


@media  screen and (max-width: 768px) {
  .ui-tag-dark {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 540px) {
  .ui-tag-dark {
    font-size: 12px;
    line-height: 15px;
  }
}

.ui-tag-dark--active {
  color: $color-default-white;

  background-color: $color-background;
}
