.video {
  padding-bottom: 182px;
}

@media  screen and (max-width: 768px) {
  .video {
    padding-bottom: 150px;
  }
}

@media  screen and (max-width: 540px) {
  .video {
    padding-bottom: 101px;
  }
}

.video__image {
  position: relative;
}

@media  screen and (max-width: 540px) {
  .video__image img {
    width: 100%;

    object-fit: cover;
  }
}

.video__button {
  position: absolute;

  width: 100px;
  height: 100px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  margin: 0;

  box-shadow: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .video__button {
    width: 75px;
    height: 75px;
  }
}

@media  screen and (max-width: 540px) {
  .video__button {
    width: 48px;
    height: 48px;
  }
}

.video__button-img {
  width: 100px;
  height: 100px;

  border-radius: 100%;
}

@media  screen and (max-width: 768px) {
  .video__button-img {
    width: 75px;
    height: 75px;
  }
}

@media  screen and (max-width: 540px) {
  .video__button-img {
    width: 48px;
    height: 48px;
  }
}

.video h2 {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 100px;
  line-height: 105px;
}

@media  screen and (max-width: 1156px) {
  .video h2 {
    font-size: 80px;
    line-height: 85px;
  }
}

@media  screen and (max-width: 936px) {
  .video h2 {
    font-size: 70px;
    line-height: 75px;
  }
}

@media  screen and (max-width: 822px) {
  .video h2 {
    font-size: 65px;
    line-height: 70px;
  }
}

@media  screen and (max-width: 768px) {
  .video h2 {
    margin-top: 40px;

    font-size: 59px;
    line-height: 62px;
  }
}

@media  screen and (max-width: 540px) {
  .video h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 27px;
    line-height: 28px;
  }
}

.video__tagline p {
  max-width: 500px;
  margin: 0;

  font-size: 44px;
  line-height: 53px;
}

@media  screen and (max-width: 768px) {
  .video__tagline p {
    max-width: 300px;

    font-size: 24px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 540px) {
  .video__tagline p {
    max-width: 210px;

    font-size: 18px;
    line-height: 22px;
  }
}
