.work {
  display: flex;
  padding-bottom: 200px;
}

@media  screen and (max-width: 768px) {
  .work {
    padding-bottom: 90px;
  }
}

@media  screen and (max-width: 625px) {
  .work {
    flex-direction: column;
  }
}

.work h2 {
  min-width: 120px;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media  screen and (max-width: 768px) {
  .work h2 {
    font-size: 12px;
    line-height: 15px;
  }
}

@media  screen and (max-width: 625px) {
  .work h2 {
    margin-bottom: 40px;
  }
}

.work__wrapper {
  max-width: 810px;
  margin-left: 115px;
}

@media  screen and (max-width: 1000px) {
  .work__wrapper {
    max-width: 610px;
  }
}

@media  screen and (max-width: 768px) {
  .work__wrapper {
    max-width: 600px;
    margin-left: 125px;
  }
}

@media  screen and (max-width: 760px) {
  .work__wrapper {
    margin-left: 65px;
  }
}

@media  screen and (max-width: 660px) {
  .work__wrapper {
    margin-left: 40px;
  }
}

@media  screen and (max-width: 650px) {
  .work__wrapper {
    margin-left: 30px;
  }
}

@media  screen and (max-width: 640px) {
  .work__wrapper {
    margin-left: 19px;
  }
}

@media  screen and (max-width: 625px) {
  .work__wrapper {
    margin-left: 0;
  }
}

.work__paragraph p {
  margin: 0;

  font-size: 44px;
  line-height: 44px;
}

@media  screen and (max-width: 1000px) {
  .work__paragraph p {
    font-size: 36px;
    line-height: 36px;
  }
}

@media  screen and (max-width: 768px) {
  .work__paragraph p {
    font-size: 26px;
    line-height: 29px;
  }
}

.work__text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 225px;
  padding-top: 80px;
}

@media  screen and (max-width: 1000px) {
  .work__text {
    margin-left: 100px;
  }
}

@media  screen and (max-width: 860px) {
  .work__text {
    margin-left: 0;
  }
}

@media  screen and (max-width: 768px) {
  .work__text {
    justify-content: space-between;
    padding-top: 40px;
  }
}

@media  screen and (max-width: 625px) {
  .work__text {
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }
}

@media  screen and (max-width: 540px) {
  .work__text {
    padding-top: 20px;
  }
}

.work__text p {
  max-width: 235px;
  margin: 0;

  padding-left: 10px;

  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 768px) {
  .work__text p {
    max-width: 236px;
    padding-left: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 18px;
  }
}

@media  screen and (max-width: 686px) {
  .work__text p {
    max-width: 200px;
  }
}

@media  screen and (max-width: 625px) {
  .work__text p {

    max-width: 177px;

  }
}
